<div class='modal-bg'></div>

<div class='modal' *ngIf='event'>
    <span class='modal-close' (click)='close("modal-transaction-view");'></span>

    <header class='modal-header'>
        <h2 class='modal-title'>Финансовая транзакция</h2>
    </header>

    <article class='modal-content'>
        <time class='event-date'>{{event.date | date:'dd MMM yyyy HH:mm:ss'}}</time>
        <div class='modal-content-field'>
            <strong>{{getDirectionFieldName(event.direction)}}</strong>
            {{event.sum}} {{event.currency}}
        </div>
        <div class='modal-content-field'>
            <strong>{{getPartyLabel(event.direction)}}</strong>
            {{event.party}}
        </div>
        <p *ngIf='event.description'>{{event.description}}</p>
    </article>

    <footer class='modal-footer'>
        <button class='button-red modal-button' (click)='onRemove(event)'>Удалить</button>
        <button class='modal-button' (click)='close("modal-transaction-view");'>Закрыть</button>
    </footer>
</div>
